<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>This is a reminder that your Better Homes Energy Savings Program invoice upload #<%= @invoice_number %> is still in draft. Complete the process of submitting your invoice by logging in.</p>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>
