<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>Your contractor access to the Energy Savings Program application system has been restored.</p>

<p>All employees at <%= @contractor.business_name %> can now upload invoices and access the system.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:BetterHomesESP@clearesult.com">BetterHomesESP@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>
