<p>Hello,</p>

<p>We need more information to continue processing your Better Homes Energy Savings Program invoice <%= @invoice_number %>. </p>

<p>Please log in to learn more and add the needed information. Your place in the queue is secure, but we cannot process your application until updates are made. </p>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>