<p>Hello,</p>

<p>We’ve received your application to register with the Better Homes Energy Savings Program as a program-registered contractor.</p>

<p>Your application number: <%= @application_number %>. </p>

<p>Check the status of your <a href="<%= @root_url %>welcome/contractor" target="_blank">application</a>.</p>

<p>If we need more information, we’ll contact you by email.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:ESPcontractorsupport@clearesult.com">ESPcontractorsupport@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>