<p>Hello,</p>

<p>We’ve received your invoice and supporting materials for the Better Homes Energy Saving Program.</p>

<p>Your invoice ID: <%= @invoice_number %>. </p>

<p>Check the status of your submission <a href="<%= @root_url %>contractor/applications/<%= @invoice_id %>/edit" target="_blank">here</a>.</p>

<p>If we need more information, we’ll contact you by email.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:ESPcontractorsupport@clearesult.com">ESPcontractorsupport@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>