<p>Hello,</p>

<p>Thank you for submitting your invoice <%= @invoice_number %> to the Better Homes Energy Savings Program. Unfortunately, the invoice has been deemed ineligible. </p>

<p><%= @ineligible_reason %></p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:ESPcontractorsupport@clearesult.com">ESPcontractorsupport@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>