<p>Hello,</p>

<p>Thank you for submitting your invoice <%= @invoice_number %> to the Better Homes Energy Savings Program. Your invoice and supporting documentation have been reviewed and approved.</p>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>