<p>Congratulations!</p>

<p>We approved your application to be a registered contractor with the Better Homes Energy Savings Program.</p>

<p>If you added employees, we have sent them invitations to create portal accounts. Employees with accounts can view all your uploaded invoices.</p>

<p>Get started!</p>

<p>You can now submit invoices and explore program resources.</p>

<p><a href="<%= @root_url %>welcome/contractor" target="_blank">Log in to the Contractor Portal with your Business BCeID</a></p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:BetterHomesESP@clearesult.com">BetterHomesESP@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>