<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>Your contractor access to the Energy Savings Program application system has been restored.</p>

<p>All employees at <%= @contractor.business_name %> can now upload invoices and access the system.</p>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>
