<p>Hello,</p>

<p>Thank you for submitting your invoice <%= @invoice_number %> to the Better Homes Energy Savings Program. Unfortunately, the invoice has been deemed ineligible. </p>

<p><%= @ineligible_reason %></p>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>