<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>Your contractor access to the Energy Savings Program application system has been suspended.</p>

<% if @contractor.suspended_reason.present? %>
  <p>Reason: <%= @contractor.suspended_reason %></p>
<% end %>

<p>All employees at <%= @contractor.business_name %> will not be able to upload invoices or access the system while suspended.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:ESPcontractorsupport@clearesult.com">ESPcontractorsupport@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>
