<p>Hello,</p>

<p>Thank you for submitting your invoice <%= @invoice_number %> to the Better Homes Energy Savings Program. The rebate payment has now been made, and will appear in your account in 3 working days.</p>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>