<p>Hello</p>

<p>You have been registered as a contractor with the Better Homes Energy Savings Program.</p>

<p><a href="<%= @root_url %>welcome/contractor/invite?token=<%= @token %>" target="_blank">Log in to the Contractor Portal with your Business BCeID</a> to get started.</p>

<%= render 'contractor_contact_line' %>

<p>Thank you,<br>Energy Savings Program Support</p>