<p>Hello</p>

<p>You have been registered as a contractor with the Better Homes Energy Savings Program.</p>

<p><a href="<%= @root_url %>welcome/contractor/invite?token=<%= @token %>" target="_blank">Log in to the Contractor Portal with your Business BCeID</a> to get started.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:ESPcontractorsupport@clearesult.com">ESPcontractorsupport@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>