<p>Hello<%= participant_greeting %>,</p>

<p>Your Better Homes Energy Savings Program application <%= @permit_application.number %> has been updated by our team.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:BetterHomesESP@clearesult.com">BetterHomesESP@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>