<p>Hello,</p>

<p>You have created your account with the Better Homes Energy Savings Program. You can log in using your Business BCeID.</p>

<p>Next step: Submit invoices and explore program resources by logging in with your Business BCeID.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:BetterHomesESP@clearesult.com">BetterHomesESP@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>
