<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>Your invitation to create an account for the Better Homes Energy Savings Program has been revoked. If you have questions about this, please contact the administrator at your company.</p>

<p>Thank you,<br>Energy Savings Program Support</p>
