<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>You have withdrawn your application <%= @application_number %> from the Better Homes Energy Savings Program.</p>

<p>If you change your mind, you can make a new application by logging in.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:BetterHomesESP@clearesult.com">BetterHomesESP@clearesult.com</a>.</p>

<p>Thank you,<br>Energy Savings Program Support</p>