<p>Dear <%= @user.name %>,</p>

<p>Please confirm your updated email address for the Energy Savings Program by clicking the button below:</p>

<div class="button-row">
  <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" class="btn-primary" target="_blank">Confirm Email Address</a>
</div>

<p>If you have received this email in error please ignore and no other action is needed.</p>

<p>Thank you,<br>Energy Savings Program Support</p>