<p>Hello,</p>

<p>You have been invited to create an account to access the Better Homes Energy Saving Program's contractor portal. To create your account with your Business BCeID, <a href="<%= @root_url %>programs/<%= @program_id %>/accept-invitation?invitation_token=<%= @token %>" target="_blank">click here</a>.</p>

<p>If you have any questions, please call us at 1-833-856-0333 or email us at <a href="mailto:ESPcontractorsupport@clearesult.com">ESPcontractorsupport@clearesult.com</a>.</p>

<p>Thank you,<br>
Energy Savings Program Support</p>
