<p>Hello,</p>

<p>You've been invited to join the Energy Savings Program with the role of <%= @role_text %></p>

<p>Click below to log in and get started:</p>

<div class="button-row">
  <% if @program_id.present? %>
    <a href="<%= "#{@root_url}programs/#{@program_id}/accept-invitation?invitation_token=#{@token}" %>" class="btn-primary" target="_blank">Accept Invitation</a>
  <% else %>
    <a href="<%= "#{@root_url}accept-invitation?invitation_token=#{@token}" %>" class="btn-primary" target="_blank">Accept Invitation</a>
  <% end %>
</div>

<p>Thank you,<br>
Energy Savings Program Support</p>
